body {
    margin: auto;
    background-color: #ffffff;
    font-family: Verdana, 'Gill Sans', sans-serif;
    width: 90%;
}

/* =======================
   1. HEADER
   ======================= */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header__title {
    font-size: 22px;
}

.header__home-btn {
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: #5d5757;
    color: white;
}


/* =======================
   2. PAGE LAYOUT
   ======================= */

.profile-mgmt {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: 300px;
    width: 40%;
}

.profile-mgmt__create,
.profile-mgmt__delete {
    background-color:  #f1e9e1;
    border-radius: 15px;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
}

.profile-item__create-form,
.profile-item__delete-form {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.profile-item__select {
    padding: 10px 10px;
    border-radius: 4px;
    width: 150px;
}

.profile-create__button, .profile-delete__button {
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: #5d5757;
    color: white;
}

/* =======================
   3. ERROR MESSAGE CONTAINER
   ======================= */

.flash-message-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 90%;
    max-width: 400px;
}

.flash-toggle {
    display: none;
}

.notification {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}

.is-error {
    background-color: #f44336;
}

.is-success {
    background-color: #4CAF50;
}

.delete-btn {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    margin-left: 15px;
    opacity: 0.8;
}

.flash-toggle:not(:checked)+.notification {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}