body {
    margin: auto;
    background-color: #ffffff;
    font-family: Verdana, 'Gill Sans', sans-serif;
    width: 90%;
}

/* ---------- HEADER ---------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header__title {
    font-size: 22px;
}

.header__home-btn {
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: #5d5757;
    color: white;
}

/* ---------- PAGE LAYOUT ---------- */

.profile-mgmt {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: 300px;
    width: 40%;
}

.profile-mgmt__create,
.profile-mgmt__delete {
    background-color:  #f1e9e1;
    border-radius: 15px;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
}

.profile-item__create-form,
.profile-item__delete-form {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.profile-item__select {
    padding: 10px 10px;
    border-radius: 4px;
    width: 150px;
}

.profile-create__button, .profile-delete__button {
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: #5d5757;
    color: white;
}