<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/profile_management.css') }}" />
    <title>Event Calendar</title>
  </head>

  <body>
    <header class="header">
      <div class="header__left">
        <h1 class="header__title">Profiles</h1>
      </div>

      <div class="header__right">
        <form action="/" method="get" class="header__home-form">
          <input type="hidden" name="username" value="{{ username }}" />
          <input type="submit" value="HOME" class="header__home-btn" />
        </form>
      </div>
    </header>


    <section class="profile-mgmt">
      <!-- LEFT COLUMN: CREATE NEW PROFILE -->
      <div class="profile-mgmt__create">
        Create New Profile
        <form action="/management/profile/create" method="post" class="profile-item__create-form">
          <input type="text" name="profile_name" class="profile-create__input" placeholder="profile name" />
          <button type="submit" class="profile-create__button">Create</button>
        </form>
      </div>

      <!-- RIGHT COLUMN: DELETE PROFILE -->
      <div class="profile-mgmt__delete">
        Delete Profile
        <form action="/management/profile/delete" method="post" class="profile-item__delete-form">
          <select name="profile_id" class="profile-item___select">
            <option value="">Select profile </option>
            {% for profile in profile_list %}
              <option value="{{ profile.id }}" {% if profile.id|string == profile_id|string %}selected{% endif %}>{{ profile.name }}</option>
            {% endfor %}
          </select>
          <button type="submit" class="profile-delete__button">Delete</button>
        </form>
      </div>

    </section>
  </body>
</html>
